<!--Section: Block Content-->
<section>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 mb-4">

      <!-- Card -->
      <div class="">

        <div class="view zoom overlay z-depth-2 rounded">
          <img class="img-fluid w-100"
            src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg" alt="Sample">
          <a href="#!">
            <div class="mask">
              <img class="img-fluid w-100"
                src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg">
              <div class="mask rgba-black-slight"></div>
            </div>
          </a>
        </div>

        <div class="text-center pt-4">

          <h5>T-shirt</h5>
          <hr>
          <h6 class="mb-3">120.dhs</h6>
        </div>
      </div>
    </div>
      </div>
  
</section>